<%= form_for(@hirecare) do |f| %>
  <% if @hirecare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hirecare.errors.count, "error") %> prohibited this hirecare from being saved:</h2>

      <ul>
      <% @hirecare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge , 'Kennzeichen' %><br>
    <%= f.text_field :badge %>
  </div>
  <div class="field">
    <%= f.label :regestration_date, 'Erstzulassung' %><br>
    <%= f.date_select :regestration_date %>
  </div>
  <div class="field">
    <%= f.label :fuel, 'Kraftstoff' %><br>
	<%= f.select :fuel, [['Diesel', 'Diesel'], ['Benzin', 'Benzin']]%>
  </div>
  <div class="field">
    <%= f.label :brand, 'Marke' %><br>
    <%= f.text_field :brand, :value => 'Smart' %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :smoking, 'Raucher-Kfz?' %><br>
    <%= f.check_box :smoking %>
  </div>
  <div class="field">
    <%= f.label :defects, 'tech. Mängel' %><br>
    <%= f.text_area :defects %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
	
    <%= f.number_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :tech_check, 'TÜV-Datum' %><br>
    <%= f.date_select :tech_check %>
  </div>
  <div class="field">
    <%= f.label :comment, 'Bemerkung' %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit 'absenden' %>
  </div>
<% end %>
