<p id="notice"><%= notice %></p>

<p>
  <strong>Badge:</strong>
  <%= @hirecare.badge %>
</p>

<p>
  <strong>Regestration date:</strong>
  <%= @hirecare.regestration_date %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @hirecare.fuel %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @hirecare.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @hirecare.model %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @hirecare.smoking %>
</p>

<p>
  <strong>Defects:</strong>
  <%= @hirecare.defects %>
</p>

<p>
  <strong>Status:</strong>
  <%= @hirecare.status_id %>
</p>

<p>
  <strong>Tech check:</strong>
  <%= @hirecare.tech_check %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @hirecare.comment %>
</p>

<%= link_to 'Edit', edit_hirecare_path(@hirecare) %> |
<%= link_to 'Back', hirecares_path %>
